* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo2-Regular", sans-serif;
}

@font-face {
  font-family: "Exo2-Regular";
  src: url(fonts/static/Exo2-Regular.ttf);
}
body {
  color: #eaebea;
  background: #0c0e0c;
}
body h1,
body h2 {
  font-variant: small-caps;
}
body a {
  color: #eaebea;
  text-decoration: none;
}
body input,
body textarea {
  color: #eaebea;
  background: #0c0e0c;
}
body .view-btn {
  background-color: #d8323c;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  cursor: pointer;
  line-height: 40px;
  padding: 0 20px;
  pointer-events: auto;
  touch-action: manipulation;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  transition: box-shadow 0.2s;
  margin: 40px auto;
}
body .view-btn:hover {
  box-shadow: #d8323c 0 1px 8px;
}

.main-nav {
  padding: 30px;
}
.main-nav .nav-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .main-nav .nav-list {
    flex-flow: column;
  }
}
.main-nav .nav-list li {
  list-style-type: none;
  text-align: center;
}
.main-nav .nav-list li a {
  font-size: 1.5rem;
  font-variant: small-caps;
  position: relative;
}
.main-nav .nav-list li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #d8323c;
  transition: width 0.25s ease-out;
}
.main-nav .nav-list li a:hover::before {
  width: 100%;
}

.about-me {
  display: flex;
  align-items: center;
  padding: 6rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
@media (max-width: 991px) {
  .about-me {
    flex-flow: column-reverse;
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .about-me {
    padding: 2rem;
  }
}
.about-me .left-box h1 {
  color: #d8323c;
  font-size: 2.5rem;
}
.about-me .left-box p {
  font-size: 1.2rem;
  padding: 1rem;
}
.about-me .right-box {
  text-align: center;
}
.about-me .right-box img {
  border-radius: 12rem;
  filter: grayscale(1);
}
@media (max-width: 767px) {
  .about-me .right-box img {
    width: 100%;
  }
}
.about-me .left-box,
.about-me .right-box {
  width: 50%;
}
@media (max-width: 991px) {
  .about-me .left-box,
  .about-me .right-box {
    width: 100%;
  }
}

.vitae {
  padding: 3em;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.vitae h1 {
  text-align: center;
  color: #d8323c;
  font-size: 2.5rem;
}
.vitae .timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  height: 550px;
}
@media (max-width: 767px) {
  .vitae .timeline {
    width: 265px;
    height: 600px;
  }
}
.vitae .timeline::before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}
@media (max-width: 767px) {
  .vitae .timeline::before {
    left: 6.2%;
  }
}
.vitae .timeline li {
  padding: 4.5rem 0;
}
.vitae .timeline li .direction-l {
  float: left;
  text-align: right;
}
@media (max-width: 767px) {
  .vitae .timeline li .direction-l {
    float: right;
    text-align: left;
    padding-bottom: 55px;
  }
}
.vitae .timeline li .direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .vitae .timeline li .direction-l .flag::before {
    left: -40px;
  }
}
.vitae .timeline li .direction-l .flag::after {
  left: 100%;
  border: solid transparent;
  border-left-color: #eaebea;
}
@media (max-width: 767px) {
  .vitae .timeline li .direction-l .flag::after {
    left: unset;
    right: 100%;
    border-left-color: transparent;
    border-right-color: #eaebea;
  }
}
.vitae .timeline li .direction-l .time-wrapper {
  float: left;
}
@media (max-width: 767px) {
  .vitae .timeline li .direction-l .time-wrapper .time {
    margin-top: 5px;
  }
}
.vitae .timeline li .direction-r {
  float: right;
}
.vitae .timeline li .direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.vitae .timeline li .direction-r .flag::before {
  left: -40px;
}
.vitae .timeline li .direction-r .flag::after {
  right: 100%;
  border: solid transparent;
  border-right-color: #eaebea;
}
.vitae .timeline li .direction-r .time-wrapper {
  float: right;
}
.vitae .timeline li .direction-r .desc {
  margin: 1em 0 0 0.75em;
}
.vitae .timeline li .direction-l,
.vitae .timeline li .direction-r {
  position: relative;
  width: 300px;
}
@media (max-width: 767px) {
  .vitae .timeline li .direction-l,
  .vitae .timeline li .direction-r {
    width: 82.5%;
  }
}
.vitae .timeline li .direction-l .flag-wrapper,
.vitae .timeline li .direction-r .flag-wrapper {
  position: relative;
  display: inline-block;
}
.vitae .timeline li .direction-l .flag-wrapper .flag,
.vitae .timeline li .direction-r .flag-wrapper .flag {
  position: relative;
  display: inline;
  background: #eaebea;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  font-variant: small-caps;
  color: #0c0e0c;
}
.vitae .timeline li .direction-l .flag-wrapper .flag::before,
.vitae .timeline li .direction-r .flag-wrapper .flag::before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #eaebea;
  border-radius: 10px;
  border: 4px solid #d8323c;
  z-index: 10;
}
.vitae .timeline li .direction-l .flag-wrapper .flag::after,
.vitae .timeline li .direction-r .flag-wrapper .flag::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border-width: 8px;
  pointer-events: none;
}
.vitae .timeline li .direction-l .flag-wrapper .time-wrapper,
.vitae .timeline li .direction-r .flag-wrapper .time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666rem;
  color: #d8323c;
  vertical-align: middle;
}
.vitae .timeline li .direction-l .flag-wrapper .time-wrapper .time,
.vitae .timeline li .direction-r .flag-wrapper .time-wrapper .time {
  display: inline-block;
  padding: 4px 6px;
  background: #eaebea;
}
.vitae .timeline li .direction-l .desc,
.vitae .timeline li .direction-r .desc {
  margin: 1em 0.75em 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.vitae .curriculum {
  text-align: center;
  padding-top: 100px;
}
@media (max-width: 767px) {
  .vitae .curriculum a img {
    width: 100%;
  }
}
.vitae .curriculum p {
  padding-top: 20px;
  font-size: 1.1rem;
}

.my-projects {
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
@media (max-width: 991px) {
  .my-projects {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .my-projects {
    padding: 1rem;
  }
}
.my-projects h1 {
  color: #d8323c;
  font-size: 2.5rem;
}
.my-projects .client-projects,
.my-projects .personal-projects {
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.my-projects .client-projects .client-project,
.my-projects .client-projects .personal-project,
.my-projects .personal-projects .client-project,
.my-projects .personal-projects .personal-project {
  padding: 20px;
  width: 30%;
}
@media (max-width: 1199px) {
  .my-projects .client-projects .client-project,
  .my-projects .client-projects .personal-project,
  .my-projects .personal-projects .client-project,
  .my-projects .personal-projects .personal-project {
    width: 46%;
  }
}
@media (max-width: 767px) {
  .my-projects .client-projects .client-project,
  .my-projects .client-projects .personal-project,
  .my-projects .personal-projects .client-project,
  .my-projects .personal-projects .personal-project {
    width: 100%;
  }
}
.my-projects .client-projects .client-project .website-image,
.my-projects .client-projects .personal-project .website-image,
.my-projects .personal-projects .client-project .website-image,
.my-projects .personal-projects .personal-project .website-image {
  height: 25vh;
  width: 100%;
}
.my-projects .client-projects .client-project .website-image img,
.my-projects .client-projects .personal-project .website-image img,
.my-projects .personal-projects .client-project .website-image img,
.my-projects .personal-projects .personal-project .website-image img {
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 50px #d8323c;
}
.my-projects .client-projects .tech-description,
.my-projects .personal-projects .tech-description {
  padding-top: 50px;
}
.my-projects .client-projects .tech-description h2,
.my-projects .personal-projects .tech-description h2 {
  padding: 8px;
  color: #d8323c;
  text-align: center;
}
.my-projects .client-projects .tech-description p,
.my-projects .personal-projects .tech-description p {
  color: #d8323c;
  text-align: center;
  font-size: 1.25rem;
}
.my-projects .client-projects .description,
.my-projects .personal-projects .description {
  padding-top: 12px;
}
.my-projects .client-projects .description p,
.my-projects .personal-projects .description p {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 1px;
}

.contact-info {
  padding: 6rem;
}
@media (max-width: 991px) {
  .contact-info {
    padding: 2rem;
  }
}
.contact-info h1 {
  text-align: center;
  color: #d8323c;
  font-size: 2.5rem;
  padding-bottom: 3rem;
}
.contact-info .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .contact-info .wrapper {
    flex-flow: column;
  }
}
.contact-info .wrapper .contact-info-form {
  display: flex;
  flex-flow: column;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
  width: 35%;
}
@media (max-width: 1199px) {
  .contact-info .wrapper .contact-info-form {
    width: 44%;
  }
}
@media (max-width: 991px) {
  .contact-info .wrapper .contact-info-form {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .contact-info .wrapper .contact-info-form {
    width: 100%;
  }
}
.contact-info .wrapper .contact-info-form .contact-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;
}
.contact-info .wrapper .contact-info-form .contact-item label {
  font-size: 2rem;
  padding-bottom: 16px;
  color: #d8323c;
}
.contact-info .wrapper .contact-info-form .contact-item input {
  height: 50px;
  width: 100%;
  font-size: 1.75rem;
  background-color: #0c0e0c;
  border: 1px solid #d8323c;
  padding: 6px 10px;
}
.contact-info .wrapper .contact-info-form .contact-item textarea {
  height: 160px;
  width: 100%;
  background-color: #0c0e0c;
  border: 1px solid #d8323c;
  padding: 6px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .contact-info .wrapper .my-links {
    width: 100%;
  }
}
.contact-info .wrapper .my-links h2 {
  color: #d8323c;
  text-align: center;
  font-size: 1.75rem;
}
.contact-info .wrapper .my-links .link-wrapper {
  display: flex;
  gap: 70px;
  justify-content: center;
  margin: 30px 0;
}
.contact-info .wrapper .my-links .divider {
  border: 1px solid #d8323c;
  margin: 36px auto 0;
}
.contact-info .wrapper .my-links .information-wrapper {
  margin-top: 36px;
}
.contact-info .wrapper .my-links .information-wrapper .location,
.contact-info .wrapper .my-links .information-wrapper .telephone,
.contact-info .wrapper .my-links .information-wrapper .mail {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .contact-info .wrapper .my-links .information-wrapper .location,
  .contact-info .wrapper .my-links .information-wrapper .telephone,
  .contact-info .wrapper .my-links .information-wrapper .mail {
    flex-flow: column;
  }
}
.contact-info .wrapper .my-links .information-wrapper .location img,
.contact-info .wrapper .my-links .information-wrapper .telephone img,
.contact-info .wrapper .my-links .information-wrapper .mail img {
  width: 50px;
  margin: 30px;
}
.contact-info .wrapper .my-links .information-wrapper .location p,
.contact-info .wrapper .my-links .information-wrapper .telephone p,
.contact-info .wrapper .my-links .information-wrapper .mail p {
  margin: 30px;
  font-size: 1.5rem;
  font-variant: small-caps;
  letter-spacing: 2px;
}

footer {
  background: #d8323c;
  height: 5vh;
}
footer p {
  color: #0c0e0c;
  text-align: center;
  padding: 10px;
}/*# sourceMappingURL=styles.css.map */